

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }

  /*=================== HEADER ====================*/
  
  .navbar img {
    height: 80px;
    margin-right: 10px;
  }
  
  .navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .navbar-brand {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  /*=================== MAIN ====================*/
  
  .img_salidas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    background: linear-gradient( rgba(0,0,0,0.40), rgba(0,0,0,0.40)), 
    url(img/salidas.jpg) no-repeat center center;
    background-size: cover;
   
  }
  .sumate_header {
   width: 60%;
   margin: auto;
   text-align: center;
  }  

  .sumate_header h2{
    color:#fff;
    font-size:  35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }  
  
  .sumate_header p {
    font-size: 18px;
    color:#fff;
    
  }

  .sumate_header button{
    font-size: 18px;
    margin-top: 1rem;
    padding:  .5rem;
    border: none;
    border-radius: 5px;
    background: none;
    background-color: #f91f35;
    color: #fff;
  }
  
  .sumate_header button:hover {
    background-color: #cf0f22;
  }

 .modelos {
  width: 75%;
  margin: auto;
 }

 .modelos_header {
   width: 75%;
   margin: 3rem auto;
   text-align: center;

 }

  .container_product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 3rem auto;
    gap: 20px;
  }

  .product {
      
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    margin: auto;
  }

  .product:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  }

  .product figure {
    overflow: hidden;
   }

  .product img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    transition: all .5s; 
  }
  
  .product:hover img {
    transform: scale(1.1);
  }

  .info_product {
    text-align: center;
    padding: 0 30px 15px 30px ;
    line-height: 2;
    display: flex;
    flex-direction: column;
  }
  
  .info_product h5{
    font-weight: bold;
  }

  .precio {
    font-size: 20px;
    
  }

  .info_product button{
    border: none;
    border-radius: 5px;
    background: none;
    background-color: #f91f35;
    color: #fff;
  }
  
  .info_product button:hover {
    background-color: #cf0f22;
  }

  .contacto form{
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10);
  }
  
  .contacto form:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  }
  
  .input{
    resize: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10);
    border: none;
  }
  .input:focus{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  }

  /*=================== BUTTONS ====================*/
  
  /* gotop */
  
  .go-top-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 20px;
    height: 100px;
    z-index: -1;
  }
  
  .go-top-button {
    width: 0rem;
    height: 0rem;
    background: #f91f35;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 3px #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .go-top-button:hover {
    background-color: #cf0f22;
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  
  .go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
  }
  
  .show {
    z-index: 10;
  }
  
  .show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 4rem;
    height: 4rem;
    z-index: 11;
  }
  
  .show i {
    transform: translate(-50%, -50%) scale(1);
  }
  
  @keyframes popup {
    0% {
      width: 0rem;
      height: 0rem;
    }
  
    50% {
      width: 4rem;
      height: 4rem;
    }
  
    100% {
      width: 4rem;
      height: 4rem;
    }
  }
  
  /* whatsapp */
  
  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 20px;
    background-color: #25d340;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    line-height: 65px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  
  .float:hover {
    text-decoration: none;
    color: #fff;
    background-color: #25d310;
    animation: shake 1s;
    animation-iteration-count: infinite;
  
  }
  
  .my.float {
    margin-top: 16px;
  }
  
  /*=================== MEDIAQUERYS ====================*/
  
  @media (min-width: 769px) and (max-width: 991px) {
    .container_product {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 768px) {
  
    .navbar-nav {
      text-align: center;
    }
    .navbar-brand {
      font-size: 10px;
    }
    .navbar-brand img{
      height: 30px;
      margin-right: 5px;
    }
    .img_salidas {
      height: 60vh;
    }
    .sumate_header h2{
      font-size:  25px;
    }
    .sumate_header p {
      font-size: 15px;
    }
    .sumate_header button {
      font-size: 15px;
    }
    .container_product {
      display: grid;
      grid-template-columns: 1fr;
    } 
    .product img {
      width: 200px;
      height: 150px;
      margin: 0 auto;
    }
  }
 

